@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #45A6D3;
    --secondary-color: #EAF4F0;
    --accent1-color: #4A5043;
    --accent2-color: #B26E63;
}

h1, h2 {
    font-family: var(--Montserrat);
    color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
    max-width: 1200px;
    margin: auto;
}

.hero {
    position: relative;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
    top: 5%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .hero article {
    position: absolute;
    background-color: rgba(27, 97, 129, 0.6);
    color: #EAF4F0;
    padding: 10px;
    width: 20%;
    top: 20%;
    left:40%;
  }

  .hero article img {
    float: right;
    margin-left: 20px;
  }

main {
    max-width: 1200px; 
    margin: auto;
}

footer .social.links img {
    width: 50px;
    height: auto;
}

footer {
    margin: auto;
    max-width: 1200px;
}