@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: var(--Lato);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #45A6D3;
    --secondary-color: #EAF4F0;
    --accent1-color: #4A5043;
    --accent2-color: #B26E63;

    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color: #B26E63;
    --nav-link-color: #B26E63;
    --nav-hover-link-color: #B26E63;
    --nav-hover-background-color: #B26E63;
}

body {
    font-family: var(--Lato);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Montserrat);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited { 
    color: var(--accent2-color);
}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}